.logo img{
    width: 50%;
}
.header.shop .logo {
    float: left;
    margin: 0px 0 0 !important;
}
.header.shop .middle-inner {
    padding: 5px 0 !important;
}


.logo a{
    font-size: 40px;
    font-weight: 600;
}

#cart-scroll {
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto; /* Add vertical scrollbar */
  }





