.logo img{
    width: 38%;
}
.header.shop .logo {
    float: left;
    margin: 0px 0 0 !important;
}
.header.shop .middle-inner {
    padding: 5px 0 !important;
}


.logo a{
    font-size: 40px;
    font-weight: 600;
}
.main-category {
  display: none;
}

.cat-heading:hover + .main-category,
.main-category:hover {
  display: block;
}
