<div class="container-fluid">
  <div class="px-xl-5 py-5">
    <div class="add-product">
      <h2>All Products</h2>
      <div class="inventory">
        <div class="filters">
          <form action="post">
            <div class="row">
              <!-- <div class="mb-3 mt-3 col-md-2 px-2">
                            <select class="form-control" id="action">
                            <option>Action</option>
                            <option>Edit</option>
                            </select>
                          </div> -->
              <!-- <div class="mb-3 mt-3 col-md-2 px-2">
                            <select class="form-control" id="action" (change)="handleEditAction()" >
                              <option>Action</option>
                              <option>Edit</option>
                            </select>
                          </div>
                          <div class="mt-3 col-md-1 px-2">
                            <button type="button" class="btn btn-primary mb-3 form-filter" (click)="handleApply()">Apply</button>
                          </div> -->
              <!-- <div class="mt-3 col-md-1 px-2">
                            <button type="submit" class="btn btn-primary mb-3 form-filter">Apply</button>
                        </div> -->
              <!-- <div class="mb-3 mt-3 col-md-3 px-2">
                          <select class="form-control" id="Category" [(ngModel)]="selectedCategory" (change)="filterProductsByCategory()">
                            <option value="Filter By Category">Filter By Category</option>
                            <option *ngFor="let category of categories" [ngValue]="category.name">{{ category.name }}</option>
                          </select>
                        </div>

                          <div class="mb-3 mt-3 col-md-3 px-2">
                            <select class="form-control" id="status">
                            <option>Filter By Stock Status</option>
                            <option>In Stock</option>
                            <option>Out of Stock</option>
                            </select>
                          </div> -->

              <div class="mb-3 mt-3 col-md-3 px-2">
                <select class="form-control" id="Category" [(ngModel)]="selectedCategory"
                  [ngModelOptions]="{standalone: true}" (change)="filterProductsByCategory()">
                  <option value="Filter By Category">Filter By Category</option>
                  <option *ngFor="let category of categories" [ngValue]="category.name">{{ category.name }}</option>
                </select>
              </div>

              <div class="mb-3 mt-3 col-md-3 px-2">
                <select class="form-control" id="status" [(ngModel)]="selectedStockStatus"
                  [ngModelOptions]="{standalone: true}" (change)="filterProductsByStockStatus()">
                  <option value="Filter By Stock Status">Filter By Stock Status</option>
                  <option>In Stock</option>
                  <option>Out of Stock</option>
                </select>
              </div>

              <div class="mt-3 col-md-3 px-2 ">
                <button type="submit" class="btn btn-primary mb-3 form-filter mr-2"
                  (click)="applyFilters()">Filter</button>
                <!-- <span > Total Products : {{productCount}}</span> -->
                <span class="font-bold" style="font-weight: bold;">Total Products : <span>{{productCount}}</span></span>
              </div>
            </div>
          </form>
        </div>
        <div class="row overflow-auto" style="max-height: 600px;">
          <table class="table table-striped">
            <thead>
              <tr>
                <!-- <th scope="col"><input type="checkbox" name="selectAll" id="selectAll1"></th> -->
                <th scope="col">Images</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Total Stock</th>
                <th scope="col">Stock Status</th>
                <th scope="col">Price</th>
                <th scope="col">Update Stock</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of filteredProducts;let i = index">
                <!-- <th scope="row"><input type="checkbox" name="selectAll" id="selectAll" [checked]="isSelected(product)"(change)="toggleSelectProduct($event, product)" ></th> -->
                <td><img [src]="product.imageUrl" class="inventory-image"></td>
                <td>{{ product.productName }}</td>
                <td>{{ product.category.name }}</td>
                <td>
                  <span *ngIf="!editingMode">{{ product.availableStock }}</span>
                  <input type="number" *ngIf="editingMode && selectedProducts.includes(product)"
                    [(ngModel)]="product.availableStock">
                </td>

                <!-- <td>{{ product.availableStock}}</td> -->

                <td>
                  <span class="wishlist-in-stock"
                    *ngIf="product.availableStock !== null && product.availableStock > 0">In Stock</span>
                  <span class="wishlist-out-of-stock"
                    *ngIf="product.availableStock === 0 || product.availableStock === null">Out of Stock</span>
                </td>

                <td>₹{{ product.productDiscountedPrice }} <span class="mrp">(₹{{ product.productActualPrice }})</span>
                </td>
                <td class="text-center">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><button
                      mat-raised-button color="primary" (click)="setCurrent(product,i)">
                      <i class="fa fa-plus" style="font-size:24px"></i></button></a>
                </td>

              </tr>


            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="width: 500px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close"
            aria-hidden="true"></span></button>
      </div>
      <!--      <div class="modal-body">-->
      <div>
        <!--        <div class="row no-gutters">-->
        <div>
          <h2 class="custom-dialog-title" mat-dialog-title>Add Stock</h2>
          <div class="custom-dialog-content">
            <p class="current-stock">Current Stock: {{ currentStock }}</p>
            <mat-form-field appearance="fill">
              <mat-label>New Stock</mat-label>
              <input matInput type="number" [(ngModel)]="newStockValue" placeholder="Add New Stock" min="0">
            </mat-form-field>
          </div>
          <div class="custom-dialog-actions" mat-dialog-actions>
            <button mat-button class="custom-dialog-cancel" data-dismiss="modal">Cancel</button>
            <button mat-button class="custom-dialog-confirm" color="primary" data-dismiss="modal"
              [disabled]="newStockValue <= 0"
              (click)="updateStock(filteredProducts[currentIndex].productId,newStockValue)">Add Stock</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->