.custom-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px;
  }
  
  .custom-dialog-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 16px;
    margin-top: 10px;
    margin-left: 10px;
    
   
  }
  
  .current-stock {
    font-size: 18px;
    margin-bottom: 24px;
  }
  
  .custom-dialog-actions {
    display: flex;
    justify-content: center;
    padding: 24px;
  }
  
  .custom-dialog-cancel,
  .custom-dialog-confirm {
    padding: 12px 24px;
    margin: 0 8px;
  }
  
  .custom-dialog-confirm {
    background-color: #007bff;
    color: #fff;
  }
  
  .custom-dialog-confirm:hover {
    background-color: #0056b3;
  }
  
  .custom-dialog-cancel {
    background-color: #ccc;
    color: #333;
  }
  
  .custom-dialog-cancel:hover {
    background-color: #bbb;
  }
  