<div class="container-fluid">
  <div class="px-xl-5 py-5">
      <div class="add-product">
          <h2>Manage Products</h2>
            <div class="inventory">
              <div class="add-admin px-4 my-4">
                <h3 class="seconder-heading mt-4">Add Product</h3>
                 <form action="post">
                      <div class="row">

                        <div class="col-md-4 mb-3 mt-3">
                          <label for="Name" class="form-label">Product Name</label>
                          <input type="text" class="form-control" id="name" [(ngModel)]="name" placeholder="Enter Name" name="name">
                        </div>
                        <div class="col-md-4 mb-3 mt-3">
                          <label for="service" class="form-label">Description</label>
                          <input type="text" class="form-control" id="Liquir"  [(ngModel)]="desc" placeholder="Discription" name="Liquir">
                        </div>
                        <div class="col-md-4 mb-3 mt-3">
                          <label for="service" class="form-label">Catagory</label>
                          <select class="form-control" id="Category"  [(ngModel)]="category" [ngModelOptions]="{standalone: true}" >
                              <option *ngFor="let category of categories" [value]="category.id" >{{category.name}}</option>
                        </select>
                        </div>
                        <div class="col-md-4 mb-3 mt-3">
                          <label for="email" class="form-label">Actual Price </label>
                          <input type="text" class="form-control" id="Pan"  [(ngModel)]="aPrice" placeholder="Actual Price"  name="Pan">
                        </div>
                        <div class="col-md-4 mb-3 mt-3">
                          <label for="contact" class="form-label">Discounted Price</label>
                          <input type="text" class="form-control" id="Discounted"  [(ngModel)]="dPrice" placeholder="Discounted Price" name="Discounted">
                        </div>
                        <div class="col-md-4 mb-3 mt-3" >
                          <label for="contact" class="form-label">Stock</label>
                          <input type="text" class="form-control" id="stock"  [(ngModel)]="stock" placeholder="Number of Products" name="Stock">
                        </div>
                        <div class="col-md-4 mb-3 mt-3">
                          <label for="name" class="form-label"> Upload Images (550 x 750px in less than 500kb and jpg/jpeg format only)</label>
                          <input type="file" class="form-control" id="Date" placeholder="Uploadn Images" name="image" accept="image/*" #invoiceFileInput>
                          <!--<input type="file" id="image" name="image" accept="image/*" #invoiceFileInput>-->
                          <button type="submit" class="btn btn-primary mb-3" (click)="upload()" >Upload File</button>
                        </div>
                        <div class="col-md-12 mb-3 mt-3" *ngIf="!edited">
                          <button type="submit" class="btn btn-primary mb-3" (click)="addProduct()">Submit</button>
                        </div>
                        <div class="col-md-12 mb-3 mt-3" *ngIf="edited">
                          <button type="submit" class="btn btn-primary mb-3" (click)="updateProd()">Update</button>
                        </div>
                        
                       

                      </div>
                 </form>
              </div>
            <div class="add-admin px-4 my-4">
              <div class="search-bar mb-3 mt-3 d-flex justify-content-between">
                <input type="text" class="form-control" placeholder="Search by Order ID or Customer Name" [(ngModel)]="searchQuery">
                 <button class="btn btn-primary search-button" (click)="searchProducts()">Search</button>
             </div>
              <div class="row overflow-auto">
            <table class="table table-striped">
              <thead>
                <tr>

                  <th scope="col">Product Image</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Catagory</th>
                  <th scope="col">Actual Price </th>
                  <th scope="col">Discounted Price </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of filteredProducts let i=index  ">

                  <td><img [src]="product.imageUrl" class="inventory-image"></td>
                  <td>{{ product.productName }}</td>
                  <td>{{ product.category.name }}</td>
                  <td>₹{{ product.productActualPrice}} </td>
                  <td>₹{{ product.productDiscountedPrice }} </td>
                  <td>
                      <button type="submit" class="btn btn-secondary"  (click)="editProduct(product,product.productId)"  ><i class="fa fa-edit"></i></button>
                      <button type="submit" class="btn btn-secondary ml-2"  (click)="deleteProduct(i,product.productId)"  ><i class="fa fa-trash"></i></button>
                  </td>
              </tr>

              </tbody>
            </table>

              </div>
            </div>
      </div>
  </div>

</div>
