<div class="tile-container">
  <div class="tile green">
       <div class="value">
      <div class="top">320</div>
      <div class="bottom">Total Orders</div>
    </div>
  </div>
  <div class="tile yellow">
        <div class="value">
      <div class="top">29520</div>
      <div class="bottom">Total Products</div>
    </div>
  </div>
  <div class="tile red">
        <div class="value">
      <div class="top">500</div>
      <div class="bottom">Total User</div>
    </div>
  </div>
  <div class="tile blue">
        <div class="value">
      <div class="top">8</div>
      <div class="bottom">Total Category</div>
    </div>
  </div>
</div>
