.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px; /* Add space between header and tiles */
}

.tile {
  width: 200px;
  height: 200px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  transition: transform 0.3s ease;
}

.tile:hover {
  transform: translateY(-5px); /* Add hover effect */
}

.green {
  background-color: #4caf4fcb; /* Green */
}

.yellow {
  background-color: #3bffdecb; /* Yellow */
}

.red {
  background-color: #f44336d3; /* Red */
}

.blue {
  background-color: #2195f3d0; /* Blue */
}

.icon {
  font-size: 48px;
  color: #070707; /* Icon color */
  margin-bottom: 10px; /* Add margin below the icon */
}

.value {
  font-size: 30px;
  color: #070707; /* Value color */
  text-align: center;
  font-weight: bold;
  display: flex; /* Use flexbox */
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.bottom {
  font-size: 14px; /* Adjust font size as needed */
  color: rgba(39, 37, 37, 0.7); /* Bottom text color */
  font-family: Arial, sans-serif; /* Use Arial or any desired font */
  text-align: center; /* Center align text */
}

