<div class="container-fluid">
    <div class="px-xl-5 py-5">
      <div class="add-product">
        <h2 class="mb-4">Order History Of Admin</h2>
        <div class="my-account">
         
  
           <div class="tab-content">
            <div id="home" class="tab-pane in active">
                <div class="search-bar mb-3">
                   <input type="text" class="form-control" placeholder="Search by Order ID or Customer Name" [(ngModel)]="searchQuery">
                    <button class="btn btn-primary search-button" (click)="searchOrders()">Search</button>
                </div>
                  
                  
              
              <table class="table table-striped" >
                <thead>
                  <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Cancel Order</th>
                    <th scope="col">Download Order</th>
  
                  </tr>
                </thead>
                <tbody>
                            
                            <tr *ngFor="let order of filteredOrders;  let i=index ">
                                <td>
                                    <a href="javascript:void(0)" (click)="openOrderDetailsDialog(order.orderId)">{{ order.orderId }}</a>
                                  </td>
                                
                                <td>{{ order.orderDate  | date: 'dd-MM-yyyy'  }}</td>
                                <td>{{ order.user.name }}</td>
                                <td>{{ order.user.contactNumber }}</td>
                                <td>{{ order.orderStatus }}</td>
                                <td>{{ order.totalOrderAmount }}</td>
                                
                          <td class="align-middle">
                          <button (click)="adminOrderDelete(i,order.id)"><i style="font-size:24px" class="fa fa-trash"></i></button>
                      </td>
                      <td class="align-middle">
                        <button class="pdf-download-button" (click)="downloadPdf(order.orderId)">
                          <i class="fa fa-file-pdf-o" style="font-size:24px;color:red"></i>
                        </button>
                    </td>
                      </tr>
                     </tbody>
              </table>
            </div>
        </div> 
  
          
          
        </div>
  
  
      </div>
    </div>
  </div>
  