

    <div class="product-area section">

        <div class="container-fluid">
            <div class="row px-xl-5">

                <div class="col-lg-3 col-md-4" *ngIf="localStorage.getItem('card')!=this.cons.constants.liquorCard">

                    <!-- Color Start -->
                     <h5 class="section-title position-relative text-uppercase mb-3"><span class="pr-3">Filter by Category</span></h5>
                     <div class="bg-light p-4 mb-30">
                        <form>
                            <div *ngFor="let cat of categories; let i=index" class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="{{i}}" [(ngModel)]="cat.selected" [ngModelOptions]="{standalone: true}" (change)="selectCat()">
                                <label class="custom-control-label" for="{{i}}">{{ cat.name }}</label>
                                <span class="badge border font-weight-normal">{{ cat.totalProducts }}</span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-9 col-md-8">
                    <div class="row pb-3">
                        <div class="col-12 pb-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                    <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                                </div>
                                <div class="ml-2">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Latest</a>
                                            <a class="dropdown-item" href="#">Popularity</a>
                                            <a class="dropdown-item" href="#">Best Rating</a>
                                        </div>
                                    </div>
                                    <div class="btn-group ml-2">
                                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" (click)="setPageSize(5)">5</a>
                                            <a class="dropdown-item" (click)="setPageSize(10)">10</a>
                                            <a class="dropdown-item" (click)="setPageSize(15)">15</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col-12">
                              <div class="product-info">
                                <div class="tab-content" id="myTabContent">
                                  <!-- Start Single Tab -->
                                  <div class="tab-pane fade show active" id="man" role="tabpanel">
                                    <div class="tab-single">
                                      <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-12" *ngFor="let product of products2| paginate :{itemsPerPage:20,currentPage:p}; let i = index">
                                          <div class="single-product">
                                            <div class="product-img">
                                              <a href="#">
                                                <img class="default-img" [src]="product.image" alt="#">
                                                <span class="out-of-stock">Hot</span>
                                              </a>
                                              <div class="button-head">
                                                <div class="product-action">
                                                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                   <a title="Wishlist"   (click)="addToWish(product)"><i class=" ti-heart "></i><span >Add to Wishlist</span></a>

                                                  <a title="Compare"  href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                </div>
                                                <div class="product-action-2">
                                                  <a title="Add to cart" (click)="addToCart(product)">Add to cart</a>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="product-content">
                                              <h3><a href="#">{{product.productName}}</a></h3>
                                              <div class="product-price">
                                                <span class="old">₹{{product.productActualPrice}}</span>
                                                <span>₹{{product.productDiscountedPrice}}</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                      <pagination-controls class="pagination float-right" (pageChange)="p = $event"></pagination-controls>

                    </div>
                </div>
                <!-- Shop Product End -->
            </div>
        </div>
    </div>
  <!-- End Product Area -->

  
   
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row no-gutters">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <!-- Product Slider -->
                  <div class="product-gallery">
                    <div class="quickview-slider-active">
                      <div class="single-slider">
                        <img src="https://via.placeholder.com/569x528" alt="#">
                      </div>
                      <div class="single-slider">
                        <img src="https://via.placeholder.com/569x528" alt="#">
                      </div>
                      <div class="single-slider">
                        <img src="https://via.placeholder.com/569x528" alt="#">
                      </div>
                      <div class="single-slider">
                        <img src="https://via.placeholder.com/569x528" alt="#">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Product slider -->

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"  >
                                <div class="quickview-content" *ngIf="viewProducts">
                                    <h2 >{{viewProducts.productName}}</h2>
                                    <div class="quickview-ratting-review">
                                        <div class="quickview-ratting-wrap">
                                            <div class="quickview-ratting">
                                                <i class="yellow fa fa-star"></i>
                                                <i class="yellow fa fa-star"></i>
                                                <i class="yellow fa fa-star"></i>
                                                <i class="yellow fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <a href="#"> (1 customer review)</a>
                                        </div>
                                        <div class="quickview-stock">
                                            <span><i class="fa fa-check-circle-o"></i> in stock</span>
                                        </div>
                                    </div>
                                    <h3>{{viewProducts.productActualPrice}}</h3>
                                    <div class="quickview-peragraph">
                                        <p>{{viewProducts.productDescription}}</p>
                                    </div>
                  <div class="size">
                    <div class="row">
                      <!-- <div class="col-lg-6 col-12">
                        <h5 class="title">Size</h5>
                        <select>
                          <option selected="selected">s</option>
                          <option>m</option>
                          <option>l</option>
                          <option>xl</option>
                        </select>
                      </div> -->
                      <!-- <div class="col-lg-6 col-12">
                        <h5 class="title">Color</h5>
                        <select>
                          <option selected="selected">orange</option>
                          <option>purple</option>
                          <option>black</option>
                          <option>pink</option>
                        </select>
                      </div> -->
                    </div>
                  </div>
                   <div class="quantity">
                      <div class="input-group">
                      <div class="button minus">
                        <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                          <i class="ti-minus"></i>
                        </button>
                      </div>
                      <input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="1000" value="1">
                      <div class="button plus">
                        <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                          <i class="ti-plus"></i>
                        </button>
                      </div>
                    </div>
                    <!--/ End Input Order -->
                  </div>
                  <div class="add-to-cart">
                    <a href="#" class="btn">Add to cart</a>
                    <a href="#" class="btn min"><i class="ti-heart"></i></a>
                    <a href="#" class="btn min"><i class="fa fa-compress"></i></a>
                  </div>
                                    <div class="default-social">
                    <h4 class="share-now">Share:</h4>
                                        <ul>
                                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            <li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

