<div class="container-fluid">
    <div class="px-xl-5 py-5">
        <div class="add-product">
            <h2>Dashboard</h2>
            <div class="dashboard mt-4">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card-box tilebox-two">
                            <!-- <a href="#" class="btn btn-sm btn-secondary waves-effect waves-light float-right">View</a> -->
                            <h6 class="text-muted text-uppercase mt-0">Total Product</h6>
                            <h3 class="my-3"><span data-plugin="counterup">{{totalProduct}}</span></h3>
                            <div class="progress progress-md">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [style.width.%]="productCompletionPercentage" aria-valuenow="totalProduct" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box tilebox-two">
                            <!-- <a href="#" class="btn btn-sm btn-secondary waves-effect waves-light float-right">View</a> -->
                            <h6 class="text-muted text-uppercase mt-0">Total Catagories</h6>
                            <h3 class="my-3">₹<span data-plugin="counterup">{{totalCategory}}</span></h3>
                            <div class="progress progress-md">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" [style.width.%]="categoryCompletionPercentage" aria-valuenow="totalCategory" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box tilebox-two">
                            <!-- <a href="#" class="btn btn-sm btn-secondary waves-effect waves-light float-right">View</a> -->
                            <h6 class="text-muted text-uppercase mt-0"> Total Orders</h6>
                            <h3 class="my-3" data-plugin="counterup">{{totalOrder}}</h3>
                            <div class="progress progress-md">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="orderCompletionPercentage" aria-valuenow="totalOrder" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box tilebox-two">
                            <!-- <a href="#" class="btn btn-sm btn-secondary waves-effect waves-light float-right">View</a> -->
                            <h6 class="text-muted text-uppercase mt-0">Cancelled Orderd</h6>
                            <h3 class="my-3">₹<span data-plugin="counterup">{{cancelOrder}}</span></h3>
                            <div class="progress progress-md">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" [style.width.%]="cancelledOrdersPercentage" aria-valuenow="cancelOrder" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    

                </div>

                <!-- Content Row -->
                <div class="row">
                    <div class="col-md-7">

                        <!-- Bar Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Bar Graph</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-container">
                                    <canvas id="my-chart" class="chart-size">
                                    </canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">

                        <!-- Bar Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Polar Graph</h6>
                            </div>
                            <div class="card-body pb-4">
                                <canvas id="my-chart2" class="chart-size">
                                </canvas>

                                
                                  
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>   
    </div>
</div>
