
select.form-control:not([size]):not([multiple]){
  height: calc(32px) !important;/* Fix the input control height*/
}

.add-admin{
  border-radius: 8px;
    border: 1px solid #b9bbbd;
}

.custom-textarea {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  resize: vertical; /* Allow vertical resizing */
}

.custom-textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

